/.bundle/
/tmp/
/pkg/
/vendor/bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/spec/reports/

# Types
/.gem_rbs_collection/
/.steep/

# Rust
/rust/target/

# Build artifacts
*.o
*.a
*.so
*.dylib
*.bundle
*.dSYM/

/ext/rolldown/include/rolldown.h
/ext/rolldown/Makefile
/ext/rolldown/mkmf.log
/lib/rolldown/rolldown.bundle
/lib/rolldown/rolldown.so

# Built gems
*.gem
